* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Tahoma, 'Trebuchet MS', sans-serif;
}

.container {
  height: 450px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.elem {
  min-width: 100px;
  height: 150px;
  padding-left: 10px;
  background-color: #eeeff2;
  border-left: 10px dotted black;
  border-color: #d0d0ff;
  font-size: 40px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.elem:hover {
  background-color: yellow;
  color: goldenrod;
}

.elem:last-child {
  align-self: flex-end;
}
